<div class="navbar navbar-light bg-light">
<form [formGroup]="searchForm" class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" formControlName="search" />
</form>
</div>

<ul class="photos">
  <li *ngFor="let photo of photos | searchFilter: searchForm.value.search">
    <div class="item row">
      <div class="col-md-4">
      <img [src]="photo.img" style="width: 100%;height: auto;">
    </div>
    <div class="col-md-8">
        <b>{{photo.author}}</b><span id="boot-icon" class="bi bi-bookmark" style="font-size: 1rem; color: rgb(84, 84, 84);padding-left: 12px;"></span>
        <p>{{photo.description}}</p>
        <button type="button" class="btn btn-primary" (click)="add(photo)" *ngIf="!(included(photo.id))" >Add to favorite</button>
        <button type="button" class="btn btn-warning" (click)="remove(photo)" *ngIf="(included(photo.id))" > Remove from favorite</button>
    </div>
      
    </div>
  </li>
</ul>